.basic-container {
  width: 80%;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 4px;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  .text-input-container {
    padding-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    .search-form-field {
      width: 100%;
      margin: 0 16px;
    }
  }
  .secondary-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 16px;
    .search-button {
      margin-top: -22px;
      margin-left: 20px;
      height: 56px;
      width: 80px;
    }
  }
}

.genre-text {
  text-transform: capitalize;
}

.results {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  .results-container {
    width: 90%;
    margin: 0 auto;
  }
  .spinner-container {
    padding: 16px;
    mat-spinner {
      margin: 0 auto;
    }
  }
}
